services:

  # ---------- MYSQL DATABASE ----------
  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: employees
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ---------- MYSQL ADMINER ----------
  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8006:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - mysql

volumes:
  mysql_data:
